
/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Nunito",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #012970; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #4154f1; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #012970;  /* The default color of the main navmenu links */
  --nav-hover-color: #4154f1; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #4154f1; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}


a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.row{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 100px;
}.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0 60px 0;
  display: flex;
  align-items: center;
  background: url(../img/hero-bg.png) top center no-repeat;
  background-size: cover;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 20px;
  font-weight: 400;
}

.hero .btn-get-started {
  width: 250px;
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 18px 40px;
  border-radius: 4px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.hero .btn-get-started:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);

}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  color: var(--default-color);
  font-weight: 600;
}

.hero .btn-watch-video i {
  color: var(--accent-color);
  font-size: 32px;
  transition: 0.3s;
  line-height: 2;
  margin-right : 8px;
  margin-left: 10px;
}

.hero .btn-watch-video:hover {
  color: var(--accent-color);
}

.hero .btn-watch-video:hover i {
  color: color-mix(in srgb, var(--accent-color), transparent 15%);
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}


/* ---project---- */


:root {
  --sky-blue-crayola: hsl(188, 64%, 60%);
  --raisin-black_90: hsla(240, 8%, 12%, 0.9);
  --raisin-black-1: hsl(240, 8%, 17%);
  --raisin-black-2: hsl(240, 8%, 12%);
  --majorelle-blue: hsl(241, 77%, 63%);
  --blue-ryb_80: hsla(241, 88%, 60%, 0.8);
  --bittersweet: hsl(0, 100%, 69%);
  --eerie-black: hsl(0, 0%, 13%);
  --ghost-white: hsl(230, 60%, 98%);
  --light-gray: hsl(0, 0%, 80%);
  --slate-gray: hsl(225, 8%, 48%);
  --cool-gray: hsl(225, 11%, 59%);
  --gainsboro: hsl(217, 16%, 90%);
  --mustard: hsl(47, 100%, 69%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(240, 5%, 26%);
  --jet: hsl(0, 0%, 21%);
  
  --gradient: radial-gradient(ellipse at center, hsla(0, 0%, 0%, 0.25), transparent 80%);
  
  --ff-dm-sans: 'DM Sans', sans-serif;
  
  --fs-1: 4rem;
  --fs-2: 3.5rem;
  --fs-3: 2.4rem;
  --fs-4: 2.2rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.7rem;
  --fs-8: 1.5rem;
  --fs-9: 1.4rem;
  
  --fw-500: 500;
  --fw-700: 700;
  
  
  --section-padding: 50px;
  
  --shadow-1: 0px 2px 50px hsla(223, 40%, 76%, 0.3);
  --shadow-2: 0px -2px 12px hsl(252, 29%, 93%);
  --shadow-3: 0px 4px 4px hsla(231, 20%, 49%, 0.06);
  --shadow-4: 0px 15px 30px hsla(210, 30%, 32%, 0.05);
  --shadow-5: 0px 15px hsla(241, 62%, 34%, 0.04);
  
  
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;
  
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  
  *,
  *::before,
  *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a {
  color: inherit;
  text-decoration: none;
  }
  
  img { height: auto; }
  
  input,
  button {
  background: none;
  border: none;
  font: inherit;
  }
  
  input { width: 100%; }
  
  ion-icon { pointer-events: none; }
  
  html {
  font-family: var(--ff-dm-sans);
  font-size: 10px;
  scroll-behavior: smooth;
  }
  .container { padding-inline: 100px; }
  
  .section { padding-block: var(--section-padding);
    
   }
  
  .h1,
  .h2 { letter-spacing: -2px; }
  
  .h1 {
  color: var(--black);
  font-size: var(--fs-1);
  line-height: 1.1;
  }
  
  .h2,
  .h3 { color: var(--raisin-black-1); }
  
  .h2 {
  font-size: var(--fs-2);
  line-height: 1.2;
  }
  
  .h3 {
  font-size: var(--fs-3);
  line-height: 1.3;
  font-weight: var(--fw-500);
  }
  
  .has-before,
  .has-after {
  position: relative;
  z-index: 1;
  }
  
  .has-before::before,
  .has-after::after {
  content: "";
  position: absolute;
  }
  
  :is(.h1, .h2) .has-before { display: inline-block; }
  
  :is(.h1, .h2) .has-before::before {
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--mustard);
  z-index: -1;
  }
  
  .section-subtitle {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  line-height: 1.2;
  }
  
  .section-subtitle::before {
  position: static;
  width: 12px;
  height: 12px;
  background-color: var(--mustard);
  display: inline-block;
  border-radius: 50%;
  margin-inline-end: 10px;
  }
  
  .text-center { text-align: center; }
  
  .section-title { margin-block: 30px 50px; }
  
  .grid-list {
  display: grid;
  gap: 30px;
  }
  
  .img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
  }
  
  .img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
  
  .project { background-color: var(--ghost-white); }
  
  .project .section-title { margin-block: 20px 60px; }
  
  .filter-list {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block-end: 70px;
  }
  
  .filter-btn {
  color: var(--cool-gray);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  padding: 11px 20px;
  border-radius: var(--radius-8);
  transition: var(--transition-1);
  }
  
  .filter-btn:is(:hover, :focus) { color: var(--raisin-black-1); }
  
  .filter-btn.active {
  background-color: var(--white);
  color: var(--raisin-black-1);
  box-shadow: var(--shadow-4);
  }
  
  .project-card {
  position: relative;
  border-radius: var(--radius-15);
  overflow: hidden;
  }
  
  .project-card .card-banner img { transition: var(--transition-2); }
  
  .project-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.1);
  filter: brightness(0.8);
  }
  
  .project-card .card-content {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  background-color: var(--mustard);
  border-radius: var(--radius-10);
  padding: 30px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(calc(-50% + 20px));
  transition: var(--transition-2);
  }
  
  .project-card .card-tag {
  color: var(--raisin-black-1);
  font-size: var(--fs-9);
  }
  
  .project-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  transform: translateY(-50%);
  }
  
  .section { padding-block: var(--section-padding); }
  
  @media (min-width: 575px) {
  
  
  .project-card .card-content {
    max-width: max-content;
    width: calc(100% - 40px);
    left: 50%;
    right: auto;
    padding: 50px 80px;
    transform: translate(-50%, calc(-50% + 20px));
  }
  
  .project-card:is(:hover, :focus-within) .card-content { transform: translate(-50%, -50%); }
  
  .project-card .card-title { margin-block-end: 10px; }
  
  }
  
  @media (min-width: 768px) {
  
  :root {
  
    --fs-1: 5.5rem;
    --fs-2: 3.8rem;
    --fs-7: 1.8rem;
  
    --section-padding: 120px;
  
  }
  
  .btn { height: 60px; }
  
  .grid-list { grid-template-columns: 1fr 1fr; }
  
  .project .grid-list > li:first-child { grid-column: 1 / 3; }
  
  @media (min-width: 992px) {
  
  .btn { height: 70px; }
  
  .grid-list { grid-template-columns: repeat(3, 1fr); }
  
  .filter-btn {
    --fs-9: 1.8rem;
    padding: 20px 25px;
  }
  
  }
  }
  
  @media (min-width: 1200px) {
  
  :root {
  
    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  
  }
  
  .filter-btn { padding-inline: 40px; }
  }