:root {

  /**
   * colors
   */

  --medium-sea-green: hsl(157, 100%, 36%);
  --silver-chalice: hsl(0, 0%, 66%); 
  --granite-gray: hsl(0, 0%, 40%);
  --sonic-silver: hsl(208, 7%, 46%);
  --dodger-blue: hsl(205, 100%, 50%);
  --oxford-blue: hsl(219, 37%, 18%);
  --light-gray: hsl(0, 0%, 80%);
  --gunmetal: hsl(216, 14%, 21%);
  --cultured: hsl(210, 12%, 97%);
  --charcoal: hsl(210, 29%, 24%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 20%);

  --gradient: linear-gradient(0.5turn, hsl(213, 42%, 91%), hsl(0, 0%, 100%));

  /**
   * typography
   */

  --ff-rubik: "Rubik", sans-serif;

  --fs-1: 28px;
  --fs-2: 26px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 17px;
  --fs-7: 15px;
  --fs-8: 13px;

  --fw-300: 300;
  --fw-500: 500;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 80px 0;

}


header {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  z-index: 4;
  transition: var(--transition);
}

header.active { box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2); }

header .container {
  max-width: unset;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn,
.nav-close-btn {
  font-size: 35px;
  padding: 5px;
  color: var(--silver-chalice);
}

:is(.nav-open-btn, .nav-close-btn) ion-icon { --ionicon-stroke-width: 40px; }

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100vh;
  padding-top: 60px;
  visibility: hidden;
  transition: var(--transition);
  box-shadow: -2px 0 4px hsla(0, 0%, 0%, 0.1);
}

.navbar.active {
  right: 0;
  visibility: visible;
}

.nav-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.navbar-link {
  color: var(--granite-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 20px;
}

.navbar-link:is(:hover, :focus) { background: hsla(0, 0%, 0%, 0.05); }

.navbar-item:not(:last-child) { border-bottom: 1px solid hsla(0, 0%, 0%, 0.05); }

.navbar .btn-primary {
  text-align: left;
  padding: 20px;
  width: 100%;
  border-radius: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  pointer-events: none;
  transition: var(--transition);
}

.overlay.active {
  background: hsla(0, 0%, 0%, 0.5);
  pointer-events: all;
}


header {
  padding: 35px 15px;
  background: transparent;
}

header.active {
  padding: 15px;
  background: var(--white);
}

header .container { max-width: 980px; }

.nav-open-btn,
.nav-close-btn { display: none; }

.navbar {
  opacity: 1;
  visibility: visible;
  position: static;
  width: auto;
  height: auto;
  padding-top: 0;
  box-shadow: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.navbar-item:not(:last-child) { border-bottom: none; }

.navbar-link {
  --fs-5: 16px;
  color: var(--charcoal);
  padding: 0 10px;
}

.navbar-link:is(:hover, :focus) { background: none; }

.navbar .btn-primary {
  --fs-7: 16px;
  width: auto;
  padding: 10px 23px;
  border-radius: 4px;
}

.btnN {
  color: var(--oxford-blue);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  /* padding: 10px 30px; */
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  margin: 2px;
}

.btn-primary {
  background: var(--dodger-blue);
  color: var(--white);
  border-color: var(--dodger-blue);
}

.hero .btn-primary { margin-inline: auto; }
.btn-primary:is(:hover, :focus) { --dodger-blue: hsl(205, 100%, 55%); }


  /*-----------------------------------*\
   * #GO TOP
  \*-----------------------------------*/
  
  .go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--silver-chalice);
    color: var(--white);
    font-size: 25px;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition);
    z-index: 2;
  }
  
  .go-top-btn.active {
    opacity: 1;
    visibility: visible;
  }
  
  .go-top-btn:is(:hover, :focus) { --silver-chalice: hsl(0, 0%, 60%); }
  
  
  
  

  
@media (min-width: 1200px) {
  
  
  :root {
    --fs-1: 52px;
    --fs-2: 50px;
    --fs-3: 46px;
    --fs-5: 22px;
    --fs-6: 19px;

  }


  .container { max-width: 1100px; }


  header .container { max-width: 1100px; }

  .navbar-list { margin-right: 30px; }

  .navbar-link {
    --fs-5: 17px;
    padding: 0 15px;
  }
  
  .go-top-btn {
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
  }


}
